.container {  display: grid;
    grid-template-columns: 0.2fr 1.6fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "sidebar store";

    margin-left:70px;
    margin-right:70px;
    
    border:dashed black;
  }
  
  .sidebar { grid-area: sidebar; }
  
  .header { grid-area: header; }
  
  .store {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
    grid-area: store;
  }
  

  .productDiv {
    border:dashed red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  *{
    Font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif
  }